---
layout: page
title: 收藏链接
tagline: 
header: links
group: navigation
---
{% include JB/setup %}

<div class="row-fluid">
  <div class="span9">
    <div>
      {% for post in site.categories['link'] %}	
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <p>
            {{ post.content | strip_html | truncatewords:25}}
        </p>
        <p>
          <a href="{{ post.url }}"><strong>阅读更多...</strong></a><br/>
        </p>
        <p>
          <strong>
            {{ post.date | date: "%B %e, %Y" }}
          </strong>
            | {{ post.categories }}
            | <a href="http://zhongfox.github.com{{ post.url }}/#uyan_frame" data-disqus-identifier="{{ post.url }}">comments</a>
        </p>
        {% if forloop.last %}
        {% else %}
          <hr>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  
</div>

