---
layout: page
title: 收藏链接
tagline: TODO 给link加上tag 分页
header: links
group: navigation
---
{% include JB/setup %}

<div class="row-fluid">
  <div class="span9">
    <div>
      {% for post in site.categories['link'] %}	
        <p>
          <a target="_blank" href="{{ post.link }}"><strong>{{ post.title }}</strong> {{post.link}}</a><br/>
        </p>

        <p>
          <strong>
            {{ post.date | date: "%B %e, %Y" }}
          </strong>
            | <a href="{{ post.url }}">my note</a>
        </p>
        {% if forloop.last %}
        {% else %}
          <hr>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  
</div>

